# System files
.DS_Store

# Node modules
node_modules/

# Python compiled files
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.out
*.log
*.synctex.gz

# Other common development tools
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env

# Compiled Object files
*.o
*.so

# Virtual Environment
venv/
*.venv
